/*
  Специально для тёмной темы при наличии класса,
  здесь окажутся стили, которые нужно переопределить принудительно,
  переключая тему
*/

:root.theme-dark {
  /* сохраните этот селектор в приведённом виде.
    Так стили написанные ниже будут иметь больший вес,
    чем стили в медиазапросе предпочтений пользователя
  */
  --header-logo-color: rgba(219, 0, 255, 1);
  --accent-color: rgba(255, 0, 112, 1);
  --nav-color: rgba(255, 0, 112, 1);
  --nav-hover-color: rgba(255, 0, 112, 0.4);
  --main-bg-color: rgba(0, 0, 40, 1);
  --cover-image: url(../images/cover-image-dark.png);
  --text-color: rgba(241, 178, 206, 1);
  --title-color: rgba(255, 0, 112, 1);
  --footer-logo-color: rgba(219, 0, 255, 1);
}

.theme-dark .header__theme-menu-button_active {
  border: 1px solid var(--nav-color);
}
.theme-dark .header__theme-menu-button:hover {
  --nav-hover-color: rgba(255, 0, 112, 0.4);
}
.theme-dark .header__theme-menu-button {
  --nav-color: rgba(255, 0, 112, 1);
}

.theme-dark .header::before {
  border-top: 1px solid var(--nav-color);
  border-right: 1px solid var(--nav-color);
}

.theme-dark .header::after {
  border-bottom: 1px solid var(--nav-color);
  border-left: 1px solid var(--nav-color);
}
.theme-dark .footer::before {
  border-top: 1px solid var(--nav-color);
  border-right: 1px solid var(--nav-color);
}

.theme-dark .footer::after {
  border-bottom: 1px solid var(--nav-color);
  border-left: 1px solid var(--nav-color);
}
