/*
  Специально для светлой темы при наличии класса.
  Здесь окажутся стили, которые нужно переопределить принудительно,
  переключая тему
*/

:root.theme-light {
  /* сохраните этот селектор в приведённом виде.
    Так стили написанные ниже будут иметь больший вес,
    чем стили в медиазапросе предпочтений пользователя
  */
  --header-logo-color: rgba(255, 194, 230, 1);
  --accent-color: rgba(255, 141, 203, 1);
  --nav-color: rgba(53, 52, 48, 1);
  --nav-hover-color: rgba(50, 49, 45, 0.4);
  --main-bg-color: rgba(255, 241, 247, 1);
  --cover-image:  url(../images/cover-image-light.png);
  --text-color: rgba(53, 52, 48, 1);
  --title-color: rgba(53, 52, 48, 1);
  --footer-logo-color: rgba(255, 194, 230, 1);
}

.theme-light .header__rec {
  display: none;
}
.theme-light .header__corner-dot {
  display: none;
}
.theme-light .header__theme-menu-button_active {
  border: 1px solid var(--nav-color);
}
.theme-light .header__theme-menu-button:hover {
  --nav-hover-color: rgba(50, 49, 45, 0.4);
}
.theme-light .header__theme-menu-button {
  --nav-color: rgba(53, 52, 48, 1);
}
.theme-light .header::before {
  border-top: 1px solid var(--nav-color);
  border-right: 1px solid var(--nav-color);
}

.theme-light .header::after {
  border-bottom: 1px solid var(--nav-color);
  border-left: 1px solid var(--nav-color);
}
.theme-light .footer::before {
  border-top: 1px solid var(--nav-color);
  border-right: 1px solid var(--nav-color);
}

.theme-light .footer::after {
  border-bottom: 1px solid var(--nav-color);
  border-left: 1px solid var(--nav-color);
}


@media (prefers-color-scheme: light) {
  :root{
    --header-logo-color: rgba(255, 194, 230, 1);
    --accent-color: rgba(255, 141, 203, 1);
    --nav-color: rgba(53, 52, 48, 1);
    --nav-hover-color: rgba(50, 49, 45, 0.4);
    --main-bg-color: rgba(255, 241, 247, 1);
    --cover-image:  url(../images/cover-image-light.png);
    --text-color: rgba(53, 52, 48, 1);
    --title-color: rgba(53, 52, 48, 1);
    --footer-logo-color: rgba(255, 194, 230, 1);
  }
  .theme-auto .header__rec,
  .theme-auto .header__corner-dot {
    display: none;
  }
}
@media (prefers-color-scheme: dark) {
  :root {
    --cover-image:  url(../images/cover-image-dark.png);
  }
}
